* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  background: linear-gradient(180deg, #009688 17%, #d6dbd8 17%);
}
