* {
  margin: 0;
  padding: 0;
}

*:active {
  outline: none;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
